.contactHeader{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'JelleeBold';
    text-decoration: underline;
}
.contactInfoContainer{
   
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   font-size: var(--medium-text);
    max-width: 900px;
    border-radius: 30px;
    background-color: rgba(225, 225, 225, 1);
    min-height: 300px;
    
}
.openingHoursInfoContainer{
    display: flex;
    flex-direction: column;
    font-family: 'AveriaRegular';
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
}
.openingHoursInfoContainer>div{
    padding: 9px;
}
.openingHoursInfoContainer>:nth-child(1),.openingHoursInfoContainer>:nth-child(3),.openingHoursInfoContainer>:nth-child(5){
    text-decoration: underline;
}
.openingHoursInfo{
    margin: 0 auto;
}
.addressInfo{
    text-align: center;
    

}
.addressInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 63px;

    justify-content: center;
    font-family: 'AveriaRegular';
}
