

    /* --main-bg-color:rgba(255, 255, 255,100%);
    --book-bg-color:rgba(234, 109, 39,100%);
    --text-color:rgba(16, 26, 36,100%);
    --big-text: 3rem;
    --small-text: 1rem;
    --btn-text: 1.25rem;
    --home-img-radius: 100px 50px 100px 50px;
    --btn-radius: 17px 8px 17px 8px;
    --menu-bg-color:rgba(16,26,36,100%); */

body{
    margin: 0;
}
.headerTitle{
    font-size: var(--big-text);
    padding: 40px 0px 10px 0px;
}
.headerParagraph{
    font-size: var(--small-text);
    text-align: center;
}
.headerTitle,.headerParagraph{
    max-width: 460px;
}
.dishTitle{
    font-weight: bold;
    font-size: var(--medium-text);
    
}
.dishDescription{
    padding-top: 10px;
    font-size: var(--small-text)
}
.dishGridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
}
.menuHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.dishGrid{
    max-width: 200px;
    transform: scale(0.9);
    text-align: center;
    border: 3.5px solid white;
    border-radius: 40px 8px 40px 8px;
    padding: 10px 15px 10px 15px;
}
.active{
    background-color: white;
}
.menuMainContent{
    min-width: 200px;
    max-width: 1fr;
   
    background-color: rgb(243, 243, 244);
}
.priceTag{
    display: flex;
    position: relative;
    width: 40px;
    height: 35px;
    background-color: black;
    border-radius: 100%;
    font-size: var(--small-text);
    color: white;
    align-items: center;
    justify-content: center;
    right: -155px;
}

